body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
}
#navbar {
  width: 98%;
  background-color: bisque;
  height: 100px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0px 20px;
}
#search_bar {
  display: grid;
  justify-items: center;
  padding: 20px;
  background-color: coral;
  width: 98%;
}
#search {
  width: 30%;
  padding: 5px;
  text-align: center;
}
#movies {
  border: 1px solid brown;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;

  justify-items: center;
}
.movie_tab {
  margin-top: 20px;
  width: 95%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  display: grid;
  justify-content: center;
}
.movie_tab > img {
  height: 200px;
  width: 100%;
}
.book_now:hover {
  cursor: pointer;
  background-color: coral;
  color: white;
}
